* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.hide {
  padding: 16px;
  font-size: 22px;
  background: #112d4e;
  color: white;
  cursor: pointer;
  display: none;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: rgb(80, 128, 190);
    color: white;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-items: center;
  width: 400px;
  height: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.7);
}

.input{
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  width: 100%;
}


.navegacion {
    opacity: 0.8;
    width: 98vw;
    padding-bottom: 15px;
    margin-bottom: 65px;
    background:rgb(71, 181, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .navegacion ul {
      list-style: none;
      text-align: right; }
  
  .menu > li {
    position: relative;
    display: inline-block; }
  
  .menu > li > a {
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 18px; }
  
  .menu li a:hover {
    color:rgb(71, 197, 255);
    transition: all .3s;
    text-align: center;
    text-shadow: 2px 2px 4px #000000; }
  
  .widget a{
    color: aliceblue;
    z-index: 0;
    
  }
  .widget a:hover{
    transition: none;
    color: black;
    
  }

  /*submenu*/
  .submenu {
    position: absolute;
    width: 100%;
    background: #f1c40f;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    letter-spacing: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style: none;
  z-index: 1; }
  
  .submenu li a {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    color:black;
    text-decoration: none; }
  
  .menu li:hover .submenu {
    position: absolute;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0; }



a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    

}

h1{
  
    text-align: center;
}

div{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    
}

.imgPrincipal{
    margin-top: 45px;
    width: 230px;
    height: 350px;

    
    
}


 

  .hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
  }

  .imgCarrito{
    width: 150px;
    height:200px;
  }

  .btnMasMenos button{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;

    
    
    
  }
  
  .btnMasMenos{
   
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
    }
  
span{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

  .btnAgregar{
    border: 1px solid black;
    border-color: #f1c40f;
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 0.6em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .btnAgregar:hover {
    box-shadow: 0 0 40px 40px #f1c40f inset;
  
 
}


  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }
  
  .volver{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
   justify-content: center;
   justify-items: center;

  }



  .centerProd{
   margin-top: 30px;
   text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

  }

  .btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

  .btn-three{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
 .link{
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
 }

  a.animated-button.thar-four {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    display: flex;
    justify-content: center;
    
  
  }
  a.animated-button.thar-four:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nfour;
  }
  a.animated-button.thar-four:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
  }
  a.animated-button.thar-four:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  
  }

  .titLibro{
    margin-top: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  

  .texto{
    width: 250px;
    height: 370px;
  }

  

  .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 70vw;
    margin-top: 20px;
   margin-bottom: 20px;

  }

  .carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  


  .precio{
    font-size: 20px;
   justify-content: center;
  }
  
  .carritoMin{
    display: flex;
    flex-direction: column;
    
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

 .borrar{
   width: 35px;
   height: 30px;
 }

  .btnBorrar{
    width: 40px;
    height:35px ;
    margin-top: 10px;
  }

  .precioTotal{
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .third {
    
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

  
  
  .irAComprar {
    color: black;
    border: black 1px solid;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }

  

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:white;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
   
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
  }

  p{
    color: rgb(71, 181, 255);
    font-family: 'Montserrat', sans-serif;
  }

  .texCen{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .finCompra{
    display: flex;
    flex-direction: column;
  }

  .loader {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }

    .cargando{
        color: white;
        font-size: 52px;
        text-transform: uppercase;
        font-weight: 700;
    }


  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }

    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
   

  
    nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
  
    }
  

    .carrito{
      display: flex;
      flex-direction: column;
      
    }

    .descripcion{
      float: none;
      padding-top: 10px;
      
    }

    .texto{
      padding-bottom: 15px;
    
    }

    .volver{
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      margin-top: 20px;

    }

    .btnAgregar{
      margin-top: 15px;
    }

    .descripcion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
    }

    
}